@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}
/* global styles */
.btn-pink{
  color: var(--mainPink);
  border-color: var(--mainPink);
}
.btn-pink:hover{
  color: var(--mainPink);
  background: var(--mainBlack);
}
.btn-black{
  color: var(--mainBlack);
  border-color: var(--mainBlack);
}
.btn-black:hover{
  color: var(--mainPink);
  background: var(--mainBlack);
}
/* nav links */
.navbar-toggler{
  outline: none !important;
}
.toggler-icon{
  font-size: 2.5rem;
  color: var(--mainPink);
}
.nav-link{
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all 1s ease-in-out;
}
.nav-link:hover{
  color: var(--mainBlack);
}
/* phone icon */
.nav-info a{
  color: var(--mainBlack);
  text-decoration: none;
}
/* cart-style */
.cart-info__icon{
  color: var(--mainBlack);
  cursor: pointer;
}
.cart-info{
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: .25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.cart-info:hover{
  background: var(--mainPink);
  color: var(--mainWhite);
  border-color: var(--mainPink);
}
.cart-info:hover .cart-info__icon{
  color: var(--mainWhite);
}
.max-height{
  min-height: calc(100vh - 68px);
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), url("../img/headerBcg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.banner{
  color: var(--mainWhite);
  margin-top: -4rem;
}
.banner-title{
  color: var(--mainPink);
  font-size: 4rem;
}
.banner-link{
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}
.banner-link:hover{
  background: var(--mainBlack);
  color: var(--mainPink);
}
/* about section */
.about-img__container{
  position: relative;
}
.about-img__container::before{
  content: '';
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 500ms ease-in;
}
.about-img__container:hover::before {
  top: 0;
  left: 0;
}
/* store */
.store{
  background: var(--mainGrey);
}
.search-box{
  background: var(--mainPink);
  color: var(--mainBlack);
}
/*
  Designed By Md Rifat Sarker.
  https://facebook.com/mdrifat.sarker.501/
*/